[submodule "yarp"]
	path = yarp
	url = https://github.com/event-driven-robotics/yarp-docker
	branch = master
	update = merge
[submodule "event-driven"]
	path = event-driven
	url = https://github.com/event-driven-robotics/event-driven-docker
	branch = master
	update = merge
[submodule "esim"]
	path = esim
	url = https://github.com/event-driven-robotics/esim-docker
	branch = master
	update = merge
[submodule "spinnaker"]
	path = spinnaker
	url = https://github.com/event-driven-robotics/spinnaker-docker
	branch = master
	update = merge
[submodule "gazebo"]
	path = gazebo
	url = https://github.com/event-driven-robotics/gazebo-docker
	branch = master
	update = merge
[submodule "nvidia-docker-opengl"]
	path = nvidia-docker-opengl
	url = https://github.com/event-driven-robotics/nvidia-docker-opengl
	branch = master
	update = merge
