[submodule "event-driven"]
	path = event-driven
	url = https://github.com/event-driven-robotics/event-driven-docker
[submodule "nvidia-opengl-docker"]
	path = nvidia-opengl-docker
	url = https://github.com/event-driven-robotics/nvidia-opengl-docker
